body {
    background-image: linear-gradient(#ffcfea, #afe9ff);
    font-family: Windows;
    font-size: 115%;
}

@font-face {
    font-family: "Windows";
    src: url("Windows Regular.ttf");
    
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
    /*I wasn't sure whether the instructions wanted me to use border-spacing 
    or word-spacing for the cell spacing, so I went with word-spacing */
    word-spacing: 3px;
    padding: 3px;
    text-align: center;
    table-layout: fixed;
    width: 55%;
}